.colors {
  background-color: #041B15; /*dark green*/
  background-color: #136F63; /*pine green*/
  background-color: #22AAA1; /*light sea green*/
  background-color: #4ce0d2; /*turquoise*/
}

.landing-page-container {
  background-color: white;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  min-height: 800px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.app-background{
  background-image: url('./assets/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
