.colors {
  background-color: #041B15; /*dark green*/
  background-color: #136F63; /*pine green*/
  background-color: #22AAA1; /*light sea green*/
  background-color: #4ce0d2; /*turquoise*/
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
