.colors {
  background-color: #041B15; /*dark green*/
  background-color: #136F63; /*pine green*/
  background-color: #22AAA1; /*light sea green*/
  background-color: #4ce0d2; /*turquoise*/
}

.landing-page-container {
  background-color: white;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  min-height: 800px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.app-background{
  background-image: url('./assets/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.matskut-container {
  width: '900px';
}

.loading-container {
  margin-top: '10px';
}

.input-box {
  width: 60%;
}

.editable-rounded-input {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  flex: 1; /* Take up the remaining space */
  margin-right: 10px;
  outline: none;
}

.editable-rounded-input:focus {
  /* border-color: #007bff; */
  border-color: rgb(51, 51, 51);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .input-box {
    width: 100%;
  }
}